* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arvo", sans-serif;
  text-decoration: none;
  justify-content: space-evenly;
}

body {
  background-color: linear-gradient(45deg, #f3eecf, #f9faf1);
  display: flex;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card{
    cursor: pointer;
    width: 254px;
    height: 233px;
}

.front, .back{
    width: 254px;
    height: 233px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    -webkit-transition: transform .6s linear;
    border-radius: 10px;
}

.front img{
    width: 254px;
    height: 233px;
}

.back{
    background-color: whitesmoke;
    transform: perspective(600px) rotateX(180deg);
}

.front{
    transform: perspective(600px) rotateX(0deg);
}

.back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
}

.card:hover > .front{
    transform: perspective(600px) rotateX(-180deg);
}

.card:hover > .back{
    transform: perspective(600px) rotateX(0deg);
}